body {
    overflow: hidden;
}

:root {
    --borderThickness: 8px;
}

.background {
    background: var(--themeBackground);
}

.centre {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.vCentre {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

h1, h2, .optionText {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    color: var(--themeAccent);
}

h1, h2 {
    user-select: none;
    text-wrap: nowrap;
}

.optionText {
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    font-size: 6vw;
}

menu-option {
    width: 100%;
    height: var(--optionHeight);
    margin: 0px;
    box-sizing: border-box;
    position: absolute;
    cursor: pointer;
    border-left: var(--borderThickness) solid var(--themeBorder);
    border-right: var(--borderThickness) solid var(--themeBorder);
    border-bottom: calc(var(--borderThickness) / 2) solid var(--themeBorder);
    border-top: calc(var(--borderThickness) / 2) solid var(--themeBorder);
}

bar-menu > menu-option:first-child {
    border-top: var(--borderThickness) solid var(--themeBorder);
    height: calc(var(--optionHeight) + (var(--borderThickness) / 2));
}

bar-menu > menu-option:last-child {
    border-bottom: var(--borderThickness) solid var(--themeBorder);
    height: calc(var(--optionHeight) + (var(--borderThickness) / 2));
}

.optionIconDiv {
    height: 100%;
    width: var(--optionContent);
    top: 0px;
    left: 0px;
    position: relative;
    border-right: var(--borderThickness) solid var(--themeBorder);
}

.optionTextDiv {
    height: var(--optionContent);
    width: calc(100vw - var(--optionContent) - (var(--borderThickness) * 3));
    left: calc(var(--optionContent) + var(--borderThickness));
    position: absolute;
    top: 0;
}

menu-option:hover div svg mask rect {
    fill: #fff;
}

menu-option div svg mask path, menu-option div svg mask text {
    fill: #fff;
}

menu-option:hover div svg mask path, menu-option:hover div svg mask text {
        fill: #000;
}

header-bar div h1 {
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    position: absolute;
    margin: 0;
}

header-bar div {
    width: 100%;
    height: 100%;
    position: absolute;
    box-sizing: border-box;
    background: var(--themePanel);
}

header-bar {
    top: 0px;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 8%;
}

header-bar div path-icon {
    width: 8vh;
    left: 0.5vw;
    position: absolute;
    cursor: pointer;
}

.subpageBody {
    position: absolute;
    top: 8vh;
    left: 0;
    width: 100%;
    height: 92vh;
}

.settingsSidebar {
    width: var(--sidebarWidth);
    height: 100%;
    border-right: var(--borderThickness) solid var(--themeBorder);
}

sidebar-item {
    height: var(--sidebarHeight);
    position: relative;
    width: 100%;
    display: block;
    box-sizing: border-box;
}
sidebar-item sidebar-item {
    padding-left: var(--sidebarIndent);
}

sidebar-item div {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

sidebar-item > div:first-child:hover {
    background-color: var(--themeHighlight);
}

sidebar-item div h2 {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    left: var(--sidebarTextInset);
    width: calc(100% - var(--sidebarTextInset));
}

sidebar-item.leaf div h2 {
    left: var(--sidebarLeafTextInset);
    width: calc(100% - var(--sidebarLeafTextInset));
}

sidebar-item div path-icon {
    width: 10%;
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
}